<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') %>

    <link rel="stylesheet" href="/css/details.style.css" />

    <title></title>
  </head>
  <body>
    <div class="container d-flex justify-content-center">
      <div class="content">
        <div class="details-img">
          <img
            src="https://i0.wp.com/stanzaliving.wpcomstaging.com/wp-content/uploads/2024/05/74f75-diffrence-between-a-flat-and-an-apartmetn.jpg?fit=1000%2C667&ssl=1"
            alt=""
          />
        </div>

        <main>
          <h3>Title</h3>
          <p>owner name</p>
          <p>location</p>
          <p>discription</p>
          <p>House/road/flat</p>
          <p>Flat details</p>
          <p>contact</p>
          <h4>Price</h4>
        </main>

        <footer></footer>
      </div>
    </div>

    <%- include('foot') %>
  </body>
</html>
